node_modules
build
package.json
package-lock.json
truffle-config
bootstrap-min.css
bootstrap.min.css
msgBoxLight.css
slick-theme.css
slick.css
bootstrap.bundle.min.js
bootstrap.bundle.min.js
bootstrap.min.js
comman.js
ipfs-mini.js
slick.js
truffle-contract.js
web3new.min.js
images
img
